<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Últimos Estrenos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estreno.css') }}">
</head>
<body>
    <!-- Background video -->
    <video autoplay muted loop id="background-video">
        <source src="{{ url_for('static', filename='video/peliculas.mp4') }}" type="video/mp4">
    </video>

    <header>
        <h1>Últimos Estrenos</h1>
    </header>

    <main class="movie-list">
        {% for movie in new_releases %}
        <div class="movie-card">
            <img src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}" alt="{{ movie['title'] }}">
            <h2>{{ movie['title'] }}</h2>
            <p>{{ movie['overview'] }}</p>
        </div>
        {% endfor %}
    </main>
</body>
</html>
