<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendador de Películas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Fondo de video -->
    <video autoplay muted loop id="background-video">
        <source src="{{ url_for('static', filename='video/peliculas.mp4') }}" type="video/mp4">
    </video>

    <!-- Contenido principal -->
    <header>
        <h1>Recomendador de Películas</h1>
    </header>

    <div class="form-container">
        <form action="/recommend" method="POST">
            <label for="genre">Selecciona un género:</label>
            <select name="genre" id="genre">
                {% for genre_name in genres %}
                    <option value="{{ genre_name }}">{{ genre_name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Recomendar</button>
        </form>
    </div>
</body>
</html>
